<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/template/headDefault.ejs')  %>
</head>
<%- include('partials/template/header.ejs')  %>
<body>
    

    <div class="row">
        <div class="column">
            <div class="card">
              <img src="\images\kim.jpg" alt="Mike" style="width:100%">
              <div class="container">
                  <h2>Kim Log</h2>
                  <p class="title">Developer</p>
                  <a  href="https://github.com/KimrLong" target="_blank"><i class="fa fa-github fa-2x"></i></a>
              
                  <a  href="https://www.linkedin.com/in/kimrlong" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                  <p>kimrlong09@gmail.com</p>
              
              </div>
            </div>
          </div>
      
          <div class="column">
            <div class="card">
              <img src="\images\kanny.jpg" alt="Mike" style="width:100%">
              <div class="container">
                  <h2>Kanny Mohamad</h2>
                  <p class="title">Developer</p>
                  <a  href="https://github.com/kannyg87" target="_blank"><i class="fa fa-github fa-2x"></i></a>
              
                  <a  href="https://www.linkedin.com/in/kannymohamad/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                  <p>kanny.ghafour87@gmail.com</p>
              
              </div>
            </div>
          </div>


        <div class="column">
          <div class="card">
            <img src="\images\matthew.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Matthew Roberts</h2>
                <p class="title">Developer</p>
                <a  href="https://github.com/Mattie-07" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            
                <a  href="https://www.linkedin.com/in/matthew-roberts-4ab48a197/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <p>matthewtroberts10@gmail.com</p>
            
            </div>
          </div>
        </div>
        


          <div class="column">
            <div class="card">
              <img src="\images\matthewc.jpg" alt="Mike" style="width:100%">
              <div class="container">
                  <h2>Matthew Chun</h2>
                  <p class="title">Developer</p>
                  <a  href="https://github.com/matthewchun93" target="_blank"><i class="fa fa-github fa-2x"></i></a>
              
                  <a  href="https://www.linkedin.com/in/matthewchun93/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                  <p>matthewchun93@gmail.com</p>
              
              </div>
            </div>
          </div>
      </div>
















    <%- include('partials/template/jsdefault.ejs')  %>
</body>
</html>