<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/template/headDefault.ejs')  %>
</head>
<%- include('partials/template/header.ejs')  %>
<body>
    


















    <%- include('partials/template/jsdefault.ejs')  %>
</body>
</html>