<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <style>

    </style>
    <body>

        <%- include('partials/template/header.ejs')  %>


        <div class="container">
            <h2 class="mt-5">Today's Top Headlines</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2" id="card-container">
            </div>
            <h2 class="mt-5">What's going on in the technology industry</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2" id="tech-container">
            </div>
<!-- scroll cards  -->
            <h2 class="mt-5">Your Health. Today.</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2" id="health-container">

            </div>
            <div class="row" id="article">
            <div class="col-10">
                <article class="article">
                    <h1 class="article-title">Search News</h1>
                    <form class="search" action="">
                        <label for="">News</label>
                        <input class="input" type="text" /><br>
                        <input type="submit"/>
                    </form>
                
                
                    <div class="container" id="news-return">
                        <ul class="news-return"></ul>
                    </div>
                    <p></p>
                    <p></p>
                </article>
            </div>
        </div>


        <div class="container">
            <div class="container">
                <form name="chatForm" class="form-horizontal chat-form">
                    <label for="chat-username" class="col control-label text-dark">Username</label>
                    <div class="col">
                        <input type="text" class="form-control" id="chat-username" required
                            placeholder="Enter your name">
                    </div><!-- col-->
                    <label for="chat-message" class="col control-label text-dark">Message</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" placeholder="Enter a message, then press enter"
                                class="form-control" id="chat-message" rows="4" autocomplete="off" required>
                            <span class="input-group-btn">
                                <button id="chat-submit" class="btn btn-info" type="submit"><i class="fa fa-paper-plane fa-x"></i></button>
                            </span>
                        </div><!-- input-group -->
                    </div><!-- col -->
                </form>
            </div>
            <div class="container chat-container">
                <div class="col-sm-10 panel-body chat-display">
                    <p class="text-muted chat-text"></p>
                </div><!-- panel-body -->
            </div><!-- panel-default -->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
        <script src="js/chat.js"></script>




        <script>
        var date = new Date ();
        var api = "c0f7f211d57d4822b8ee00ecd0307d1d"
        fetch(`http://newsapi.org/v2/top-headlines?country=us&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;
                    let image = data.articles[x].urlToImage;
                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#card-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>

                                </div>
                            </div>`
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })
        fetch(`http://newsapi.org/v2/everything?q=technology&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;

                    let image = data.articles[x].urlToImage;

                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#tech-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>

                                </div>
                            </div>`
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })
        fetch(`http://newsapi.org/v2/everything?q=health&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;

                    let image = data.articles[x].urlToImage;

                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#health-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>
                                </div>
                            </div>`

                            
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
        <%- include('partials/template/jsdefault.ejs')  %>

    </body>
</html>