<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <style>
 
    </style>
    <body>

        <%- include('partials/template/header.ejs')  %>


        <div class="container">
            <div class= "row">
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>























        <aside class="row">
            <div class="chat-page">
                <div class="msg-inbox">
                    <div class="chats">
                    <form name="chatForm" class="form-horizontal chat-form">
                        <div class="form-group">
                            <label for="chat-username" class="col-sm-2 control-label text-white">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="chat-username" required
                                    placeholder="Enter your name">
                            </div><!-- col-sm-10 -->
                        </div><!-- form-group -->
                        <div class="form-group">
                            <label for="chat-message" class="col-sm-2 control-label text-white">Message</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="text" placeholder="Enter a message, then press enter"
                                        class="form-control" id="chat-message" rows="4" autocomplete="off" required>
                                    <span class="input-group-btn">
                                        <button id="chat-submit" class="btn btn-info" type="submit">Chat</button>
                                    </span>
                                </div><!-- input-group -->
                            </div><!-- col-sm-10 -->
                        </div><!-- form-group -->
                    </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="container chat-container">
            <div class="col-sm-10 panel-body chat-display">
                <p class="text-muted chat-text "></p>
            </div><!-- panel-body -->
        </aside>
    </div><!-- panel-default -->

        <!-- <h1></h1>
        <img src="" class="img-responsive">    -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
        <script src="js/chat.js"></script>

        <script>

        var date = new Date ();
        var api = "da6c1126097047e4a0ebac35a7b51878"
        fetch(`http://newsapi.org/v2/everything?q=bitcoin&from=${date}&sortBy=publishedAt&apiKey=${api}`)

            .then(response => response.json())
            .then(data => {
                console.log(data);
                news = data.articles[0].title;
                image = data.articles[0].urlToImage;
                console.log(news)

                let h5 = document.querySelector('h5');
                h5.textContent = `The title is: ${news}`;
                let img = document.querySelector('img');
                img.src = image;
            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
        <%- include('partials/template/jsdefault.ejs')  %>

    </body>
</html>