<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>

        <div class="container">
            
        </div>

        <%- include('partials/template/header.ejs')  %>

        <%- include('partials/template/jsdefault.ejs')  %>
 
        <h1></h1>
        <img src="" class="img-responsive">    
        

    <script>

    </script>
    
    </body>
</html>