<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <style>

    </style>
    <body>

        <%- include('partials/template/header.ejs')  %>


        <div class="container">
            <h2 class="mt-5">Today's Top Headlines</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
<!--scroll cards-->   
            <h2 class="mt-5">What's going on with BITCOIN</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
<!--scroll cards--> 
            <h2 class="mt-5">Most Notable Sources</h2>
            <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary" id='save'>Save Article</a>
                            <a href="#" class="btn btn-primary" id='readArticle' target="_blank">See The Article!</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Save Article</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="" id='save' class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="article">
            <div class="col-10">
                <article class="article">
                    <h1 class="article-title">Search News</h1>
                    <form class="search" action="">
                        <label for="">News</label>
                        <input class="input" type="text" /><br>
                        <input type="submit"/>
                    </form>
                
                
                    <div class="container" id="news-return">
                        <ul class="news-return"></ul>
                    </div>
                    <p></p>
                    <p></p>
                </article>
            </div>
        </div>


        <aside class="row">
            <div class="chat">
                <div class="container col-6">
                    <form name="chatForm" class="form-horizontal chat-form">
                        <label for="chat-username" class="col-sm-2 control-label text-dark">Username</label>
                        <div class="col">
                            <input type="text" class="form-control" id="chat-username" required
                                placeholder="Enter your name">
                        </div><!-- col-->
                        <label for="chat-message" class="col-sm-2 control-label text-dark">Message</label>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" placeholder="Enter a message, then press enter"
                                    class="form-control" id="chat-message" rows="4" autocomplete="off" required>
                                <span class="input-group-btn">
                                    <button id="chat-submit" class="btn btn-info" type="submit"><i class="fa fa-paper-plane fa-2x"></i></button>
                                </span>
                            </div><!-- input-group -->
                        </div><!-- col -->
                    </form>
                </div>
            </div>
        </aside>
                <div class="container chat-container col-6">
                    <div class="col-sm-10 panel-body chat-display">
                        <p class="text-muted chat-text"></p>
                    </div><!-- panel-body -->
                </div><!-- panel-default -->
            </div>
        
    </div><!-- panel-default -->
    <div class="row pt-5">  
        <div class="jumbotron d-none d-lg-block width-100" style="height:200px;  background-size: 100%; font-size: 80px; color: rgb(255, 255, 255)">
    </div>
        <!-- <h1></h1>
        <img src="" class="img-responsive">    -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
        <script src="js/chat.js"></script>

        <script>

        var date = new Date ();
        var api = "f11810e069c8494e8039180140b7cada"
        fetch(`http://newsapi.org/v2/top-headlines?country=us&from=${date}&sortBy=publishedAt&apiKey=${api}`)

            .then(response => response.json())
            .then(data => {
                console.log(data);
                news = data.articles[0].title;
                image = data.articles[0].urlToImage;
                urlLink = data.articles[0].url
                console.log(urlLink)

                let url = document.querySelector('#readArticle')
                url.setAttribute("href", urlLink);
                let h5 = document.querySelector('h5');
                h5.textContent = `${news}`;
                let img = document.querySelector('img');
                img.src = image;
                // let btn = document.querySelector('btn');
                // btn.click = pageUrl;
                // console.log(btn)
            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
        <%- include('partials/template/jsdefault.ejs')  %>

    </body>
</html>