<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>

        <div class="container">
            
        </div>

        <%- include('partials/template/header.ejs')  %>
        <h1></h1>
        <img src="" class="img-responsive">    
        <%- include('partials/template/jsdefault.ejs')  %>
        <script>
            
        fetch("http://newsapi.org/v2/everything?q=bitcoin&from=2020-12-26&sortBy=publishedAt&apiKey=86e9745df35749c2b909c52955f0a08e")
            .then(response => response.json())
            .then(data => {
                console.log(data);
                news = data.articles[0].title;
                image = data.articles[0].urlToImage;
                console.log(news)

                let h1 = document.querySelector('h1');
                h1.textContent = `The title is: ${news}`;
                let img = document.querySelector('img');
                img.src = image;
            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
    </body>
</html>