<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <style>

    </style>
    <body>

        <%- include('partials/template/header.ejs')  %>




        <script>
        var date = new Date ();
        var api = "c0f7f211d57d4822b8ee00ecd0307d1d"
        fetch(`http://newsapi.org/v2/top-headlines?country=us&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;
                    let image = data.articles[x].urlToImage;
                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#card-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>

                                </div>
                            </div>`
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })
        fetch(`http://newsapi.org/v2/everything?q=technology&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;

                    let image = data.articles[x].urlToImage;

                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#tech-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>

                                </div>
                            </div>`
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })
        fetch(`http://newsapi.org/v2/everything?q=health&from=${date}&sortBy=publishedAt&apiKey=${api}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(var x = 0; x < 5 ; x++){
                    let news = data.articles[x].title;

                    let image = data.articles[x].urlToImage;

                    let urlLink = data.articles[x].url
                    let cards = document.querySelector("#health-container");
                    let newCard = document.createElement('div')
                    newCard.setAttribute("class", "col-5")
                    newCard.innerHTML = `           
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="${image}" id="img" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">${news}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="${urlLink}" class="btn btn-primary" id='readArticle'>See The Article!</a>
                                    <a href="#" class="btn btn-primary">Save</a>
                                </div>
                            </div>`

                            
                    cards.appendChild(newCard);
                }
                

            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
        <%- include('partials/template/jsdefault.ejs')  %>

    </body>
</html>