<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>
        <%- include('partials/template/header.ejs')  %>

        <h1></h1>
        <img src="" class="img-responsive">    
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
            
        fetch("http://newsapi.org/v2/everything?q=bitcoin&from=2020-12-25&sortBy=publishedAt&apiKey=86e9745df35749c2b909c52955f0a08e")
            .then(response => response.json())
            .then(data => {
                console.log(data);
                news = data.articles[0].title;
                image = data.articles[0].urlToImage;
                console.log(news)

                let h1 = document.querySelector('h1');
                h1.textContent = `The title is: ${news}`;
                let img = document.querySelector('img');
                img.src = image;
            })
            .catch((error)=>{
                console.log(error)
            })

        </script>
    </body>
</html>