<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>
        <%- include('partials/template/header.ejs')  %>



        <h1>Login</h1>
        <form action="/registration" method="POST">
    
            username: <input type="text" name="username"><br>
            password: <input type="password" name="password"><br>
    
            <input type="submit">
        </form>
        <%- include('partials/template/jsdefault.ejs')  %>
    </body>
</html>