<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="search" action="">
        <label for="">News</label>
        <input class="input" type="text" /><br>
        <input type="submit"/>
    </form>


    <div class="container">
        <ul class="news-return"></ul>
    </div>

    <script>
        const searchEngine = document.querySelector('.search');
        const input = document.querySelector('.input');
        const newsReturn = document.querySelector('.news-return');

        searchEngine.addEventListener('submit', retrieve);

        function retrieve(e){

            if(input.value == ''){
                alert('Input field is empty!')
                return
            }

            newsReturn.innerHTML = '';

            e.preventDefault()

            const apiKey = `da6c1126097047e4a0ebac35a7b51878`
            let topic = input.value;

            let url = `http://newsapi.org/v2/everything?q=${topic}&apiKey=${apiKey}`

            fetch(url).then((res)=>{
                return res.json()
                       //return response in JSON format
            })
            .then((data)=>{
                console.log(data)
                data.articles.forEach(article =>{
                    let li = document.createElement('li');
                    let a = document.createElement('a');
                    a.setAttribute('href', data)
                    a.setAttribute('target', '_blank');
                    a.textContent = article.url;
                    li.appendChild(a);
                    newsReturn.appendChild(li);
                })
            }).catch((error)=>{
                console.log(error)
            });
        }

        console.log(topic);

    </script>
    
</body>
</html>