<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>
        <%- include('partials/template/header.ejs')  %>

        <%- include('partials/template/jsdefault.ejs')  %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- <form action="/registration" method="POST">
    
            username: <input type="text" name="username"><br>
            password: <input type="password" name="password"><br>
            email: <input type="text" name="email">
    
            <input type="submit">
        </form> -->

        
        <!-- <button id="login" style="width:auto;">Login</button> -->

        <!-- <div id="id01" class="modal">
            <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'"></span>
        </div> -->
            <div class="container">
                <label for="uname"><b>Username</b></label><span id= "exit" class="close" title="Close Modal">&times;</span>
                <input type="text" placeholder="Enter Username" name="username" required>
        
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Your Password" name="password" required>

                <label for="email" ><b>Email</b></label>

                <input type="email" placeholder="Enter Your Email" name="email" required>
                <button type="submit">Submit</button>
            </div>
        </form>

        </div>
        <script>
        // Get the modal
        // When the user clicks anywhere outside of the modal, close it
        
        
        </script>


    <script>
        let exit = document.querySelector('#exit');
        let modal1 = document.querySelector('.modal-content')
        exit.addEventListener('click',  (event)=>{
        
            modal1.style.display='none'
            })
    </script>

    </body>
</html>


