<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/template/headDefault.ejs')  %>
    </head>
    <body>
        <%- include('partials/template/header.ejs')  %>
 
        <%- include('partials/template/jsdefault.ejs')  %>

        <div class="container">

            saved articles

        </div>
    </body>
</html>