

<header>
    <div class="jumbotron d-none d-lg-block" style="background-image:url('/images/globalNews.jpg'); background-size: 100%;">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="flex-container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link flex-item" href="/registration" style="text-align: center;">Registration</a>
                </li>
                <li class="nav-item">
                <a class="nav-link flex-item" href="/login" style="text-align: center;">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link flex-item" href="/chat" style="text-align: center;">Chat</a>
                </li>
                <li class="nav-item">
                <a class="nav-link flex-item" href="/aboutUs" style="text-align: center;">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>